.mini-projects {
  background-color: $color-background;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .mini-project {
    width: 100%;
    aspect-ratio: 7 / 3;
  }
}
