.project{
  border-radius: $border-radius;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(4,12%) 1fr repeat(4,12%);
  grid-template-rows: min-content min-content;
  justify-content: center;
  row-gap: 5rem;
  box-shadow: 0 0 2rem black;
  filter: drop-shadow((0rem 1rem 1rem $color-black-dark-2));
  @media only screen and (max-width: $bp-medium) {
    row-gap: 5rem;
  }
  & > *{
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }
  .project-header{
    display: flex;
    align-items: center;
    gap: 10rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      gap: 3rem;
    }
    .project-heading{
      font-size: 3rem;
    }
    .project-technologies{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
  

  .project-image{
    grid-column: 1/5;
    width:100%;
    border-radius: 10px;
    border: 1px solid rgba($color-white, 0.1);
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    } 
  }
  .project-description{
    grid-column: 6/-1;
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
      gap: 5rem;
    }

    .project-summary{
      color: $color-white;
    }

    .project-footer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
      }

      .cta{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: max-content;
        position: relative;
        padding: $button-padding;
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        cursor: pointer;
        transition: all $transition-time;
        border-radius: $border-radius;
        background: $color-white;
        color: black;
        @media (hover: hover) {
          &:hover {
            transform: translateY(-2px);
            transform-origin: center;
            filter: brightness(1.1);
          }
        }
      }

      .project-repository{
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: nowrap;
        font-size: 2rem;
        color: $color-primary;
      }
    }
  }  
}