.section-projects {
  background: $color-black-dark-2;
  padding: 5rem 0 10rem 0;
  .projects-heading {
    padding-bottom: 5rem;
    grid-column: 1/-1;
    justify-self: center;
    color: $color-white;
    font-size: 4rem;
  }
  .project {
    background: radial-gradient(
      42.74% 40.26% at 40.54% 52.49%,
      $color-black-lightest-2 0.01%,
      transparent 100%
    );
    grid-column: 2/-2;
    &:not(:last-child) {
      margin-bottom: 10rem;
    }
  }
  .mini-projects {
    border-radius: $border-radius;
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
  .mini-project {
    padding: 3rem;
    background: transparent;
  }
}
