.section-technologies {
  background: $color-background;
  .technologies-heading {
    padding-bottom: 5rem;
    grid-column: 1/-1;
    justify-self: center;
    color: $color-white;
    font-size: 4rem;
  }

  .technologies-modules {
    grid-column: 2/-2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
