// Fonts
$font-primary: 'Inter', sans-serif;
$font-secundary: 'Alshauss book', sans-serif;

$primary-font-family: 'Hind Siliguri', sans-serif;
// weights 300, 400, 500, 600, 700

// Headings
$heading-1-main-font-size: 4rem;
$heading-1-sub-font-size: 2.2rem;
$heading-1-font-weight: 600;

$heading-2-font-weight: 600;
$heading-2-font-size: 3rem;

// Links
$link-font-size: 1.4rem;
$link-font-weight: 700;

// fonts
$font-heading-1-main: $heading-1-font-weight $heading-1-main-font-size
  $primary-font-family;

$font-heading-1-sub: $heading-1-font-weight $heading-1-sub-font-size
  $font-primary;

$font-heading-2: $heading-2-font-weight $heading-2-font-size $font-primary;

$font-link: $link-font-weight $link-font-size $primary-font-family;
