$color-terciary-dark: #0d2346;
$color-terciary-light: #3682fd94;

$color-background2: #161616;
$color-background: #101010;
$color-background-2:#141816;
$color-background-3:#1D1D1D;
$color-background-hover-3:#252525;

$color-background-navigation-bar-mobile:#292929;
$color-background-navigation-bar-mobile-icons:#4e4e4e;



$color-secundary: #dda636;
$color-secundary-hover: rgb(246, 197, 63);


$color-white: #eeeeee;
$color-black-light: #1d1d1d;
$color-black-light-2: #212121;
$color-black-lightest:#252525;
$color-black-lightest-2:#464646;
$color-black-lightest-3: #414141;
$color-black-lightest-4: #494848;

$color-black-dark-2:#191919;
$color-black-dark-3: #101010;
$color-black-dark: #050505;
$color-primary: #AE1529;
$color-primary-light: #ED2C44;
$color-primary-lighest: #EE445C;
$color-primary-dark: #8B1121;


$font-primary: 'Inter', sans-serif;;
$font-secundary: 'Alshauss book', sans-serif;

$heading-1-main-font-size: 4.5rem;
$heading-1-sub-font-size: 4rem;
$heading-1-font-weight: 800;

$button-font-size: 1.8rem;
$button-font-weight:600;
$button-padding: 1rem 3rem;

$border-radius: 10px;

$transition-time: 0.2s;

// pasa a 10

$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;   // 800px;
$bp-small: 37.5em;  // 600px;
$bp-smallest: 31.25em;  // 500px;
