// Colors
$background-color-1: #030303;
$background-color-2: #1b1b1b;
$background-color-3: #101010;
$background-color-4: #181818;

$color-primary: #db0d28;
$color-primary-hover: rgb(245, 39, 66);
$color-primary-light: #fb1c39;
$color-primary-dark: #b61228;

$color-white: #dddddd;

// Links
$link-padding: 1rem 3.5rem;
$link-background-primary: linear-gradient(
  135deg,
  $color-primary-light 0%,
  $color-primary-dark 100%
);
$link-background-secondary: $color-white;

// Borders
$border-radius: 5px;

//Transitions
$transition-time: 0.2s;
