.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.heading-1-main-enter-active {
  animation:
    fade-right 2s ease-out,
    electric-shine 2.5s linear 6s;
}

.heading-1-sub-enter-active {
  opacity: 0;
  animation:
    fade-delay 2s linear,
    fade-left 1.5s ease-out 2s;
}

.banner-link-enter-active {
  backface-visibility: hidden;
  animation:
    fade-delay 3s ease-out,
    fade-up 1.5s ease-in 3s;
}

.banner-carroussel-enter-active {
  animation: fade-delay 4.5s linear;
}

@keyframes fade-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  80% {
    opacity: 1;
    transform: translateX(2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  80% {
    opacity: 1;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes electric-shine {
  50% {
    color: white;
    text-shadow: 0 0 1.5rem $color-primary-light;
  }
}

.transition-enter-from,
.transition-leave-to {
}
.transition-enter-to,
.transition-leave-from {
}
.transition-enter-active {
}
.transition-leave-active {
}
