*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

a,
a:visited,
a:active {
  background-color: none;
  color: currentColor;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 40%;
  }
}
body {
  font-family: $font-primary;
  font-weight: 400;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

button {
  background: none;
  border: none;
}

.section {
  padding: 10rem 0;
  @media only screen and (max-width: $bp-medium) {
    padding: 5rem 0;
  }
}

.eight-column-grid {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(8, calc(15rem - 0.3rem)) 1fr;
  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 1fr repeat(8, calc(12.5rem - 0.3rem)) 1fr;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr repeat(8, 9rem) 1fr;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr repeat(8, 9rem) 1fr;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: 1fr repeat(8, 6rem) 1fr;
  }

  .single-column {
    width: 100%;
    grid-column: 2/-2;
    @media only screen and (max-width: $bp-large) {
      grid-column: 2/-2;
    }
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
  @media only screen and (max-width: $bp-large) {
    align-items: center;
  }
}

.heading-2 {
  color: $color-white;
  font: $font-heading-2;
}

.section-heading {
  padding: 10rem 2rem 2rem 2rem;
  grid-column: 2/-2;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    justify-content: center;
  }
}
