// Remove predefined browser styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  background: none;
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

// Set Rem absolute size to 10px instead 16px ->
html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 40%;
  }
}

body {
  font-family: $font-primary;
}

// Define the styles when users select a range of text
::selection {
  background-color: $color-primary;
  color: $color-white;
}
