.container-medium {
  margin: 0 auto;
  width: 75%;

  @media only screen and (max-width: $bp-medium) {
    width: 85%;
  }
}

.container-small {
  margin: 0 auto;
  width: 70%;
}

.container-large {
  margin: 0 auto;
  width: 90%;
}

.container-full-screen {
  width: 100%;
}

.section-content {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 1;
  @media only screen and (max-width: $bp-large) {
    align-items: center;
  }
}

.heading-2 {
  color: $color-white;
  font: $font-heading-2;
  z-index: 1;
}
